.reset_input_btn {
  position: absolute;
  right: 85px;
  top: 12px;
  fill: #cdcdcd;
  z-index: 2
}

.reset_input_btn:hover {
  cursor: pointer;
  fill: #f72525
}

.certification_icon {
  width: 25px;
  height: 25px;
  fill: #FE902F;
}

.certification_delete_icon {
  margin-left: 10px;
  width: 25px;
  height: 25px;
  fill: #FE902F;
  cursor: pointer
}